<footer class="border-top footer text-muted">
    <div class="container">
        @ChaseLabs.Games.SWF.STDLib.Global.Values.CompanyName -  &copy; 2020 - @DateTime.Now.Year - @ChaseLabs.Games.SWF.STDLib.Global.Values.ApplicationName
    </div>
</footer>