<div style="width:100%; margin-left: 10px;margin-right:10px;">
    @using (Html.BeginForm("TrySearch", "Home", FormMethod.Post))
    {
        <input style="width:100%;" name="searchBox" type="text" placeholder="Search?  Ex: Bloons Tower Defense 2" />
    }
</div>