@{
    ViewData["Title"] = "Home";
}

<p>@ChaseLabs.Games.SWF.STDLib.Global.Values.ConfigDirectory</p>
@if(ChaseLabs.Games.SWF.STDLib.Lists.GameFiles.Singleton.Count ==0){
<p>URLS LOADING</p>
}else{
foreach(var f in ChaseLabs.Games.SWF.STDLib.Lists.GameFiles.Singleton){
<p>@f.Name - <a href="@f.SWFUrl">@f.SWFUrl</a></p>
}
}